
.prevent-transitions {
  -webkit-transition: none !important;
  transition: none !important;
}

div.page {
  width: 960px;
  margin: auto;
}

.header {
  position: relative;
  margin: auto;
  background-image: url("/static/img/header.svg");
  width: 960px;
  height: 160px;
}

.header-line1a {
  position: absolute;
  left: 418px;
  bottom: 80px;
}
.header-line1b {
  position: absolute;
  left: 464px;
  bottom: 79px;
}
.header-line1c {
  position: absolute;
  left: 751px;
  bottom: 79px;
}

.header-line2a-above {
  position: absolute;
  left: 418px;
  bottom: 46px;
}
.header-line2a-below {
  position: absolute;
  left: 418px;
  top: calc(100% - 44px);
}
.header-line2b-above {
  position: absolute;
  left: 560px;
  bottom: 46px;
}
.header-line2b-below {
  position: absolute;
  left: 560px;
  top: calc(100% - 44px);
}
.header-line2c-above {
  position: absolute;
  left: 751px;
  bottom: 46px;
}
.header-line2c-below {
  position: absolute;
  left: 751px;
  top: calc(100% - 44px);
}

input.roll-input {
  height: 29px;
  width: 284px;
}

input {
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 0px;
  font-size: 22px;
  border: 0;
}
input:focus {
}
input::placeholder {
    opacity: 0.2;
}

.header-link {
  font-size: 22px;
  color: black;
  text-decoration: none;
}
.hover-underline {
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.hover-underline:hover {
  box-shadow: 0 6px 0 -4.5px black;
}
.header-label {
  font-size: 14px;
  display: inline;
  vertical-align: bottom;
}

.page-box {
  border: 2px solid transparent;
  border-image-source: url("/static/img/page.svg");
  border-image-slice: 67;
  border-image-width: 30;
  border-image-repeat: repeat;
  margin: auto;
  width: 816px;
  padding: 50px 70px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 959px) {
  .page-box {
    width: 408px;
  }
}

@media screen and (max-width: 547px) {
  .page-box {
    border: 0px;
    padding: 50px 0px 20px;
  }
}

.large-labeled {
  position: relative;
  border: 2px solid transparent;
  border-image-source: url("/static/img/large-labeled.svg");
  border-image-slice: 13;
  border-image-width: 13;
  border-image-repeat: repeat;
  text-align: center;
  font-size: 72px;
  width: 368px;
  height: 72px;
  padding: 48px 17px 60px;
  margin: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
.large-labeled-label {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 13px;
  height: 16px;
  text-align: center;
  font-size: 14px;
}

.gray-group {
  border: 2px solid transparent;
  border-image-source: url("/static/img/gray-group.svg");
  border-image-slice: 34;
  border-image-width: 34;
  border-image-repeat: repeat;
  background-color: #deddde;
  background-clip: content-box;
  padding: 16px;
  width: 370px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 4px;
}

.featured-number {
  background-image: url("/static/img/featured-number-taller.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 172px;
  height: 58px;
  margin: 6px auto;
}
.featured-number-number {
  position: absolute;
  left: 120px;
  right: 8px;
  bottom: 9px;
  top: 9px;
  text-align: center;
  font-size: 32px;
}
.featured-number-label {
  position: absolute;
  left: 14px;
  right: 64px;
  bottom: 9px;
  top: 10px;
  text-align: center;
  font-size: 16px;
}

.ripped-center {
  position: relative;
  border: 2px solid transparent;
  border-image-source: url("/static/img/ripped-center.svg");
  border-image-slice: 35;
  border-image-width: 35;
  border-image-repeat: repeat;
  font-size: 40px;
  width: 240px;
  height: 70px;
  padding: 0px 10px;
  margin: auto;
}
.ripped-center-above {
  position: absolute;
  left: 10px;
  bottom: 26px;
  font-size: 24px;
}
.ripped-center-line {
  position: absolute;
  border-bottom: 0.4px solid #b2b1b1;
  left: 10px;
  right: 10px;
  top: 25px;
  bottom: 25px;
  z-index: -1;
}
.ripped-center-below {
  position: absolute;
  left: 10px;
  bottom: 8px;
  font-size: 14px;
}

.result {
  position: relative;
  background-image: url("/static/img/shield.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 150px;
  height: 150px;
  margin: auto;
}
.result-content {
  position: absolute;
  font-size: 72px;
  bottom: 40px;
  left: 26px;
  right: 26px;
  text-align: center;
}
.result-label {
  position: absolute;
  font-size: 14px;
  bottom: 30px;
  left: 54px;
  right: 54px;
  text-align: center;
}

.succeeded {
  position: relative;
  background-image: url("/static/img/square.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 105px;
  height: 105px;
  margin: 22px auto;
}
.succeeded-content {
  position: absolute;
  font-size: 54px;
  top: 15px;
  bottom: 36px;
  left: 15px;
  right: 15px;
  text-align: center;
}
.succeeded-label {
  position: absolute;
  font-size: 14px;
  bottom: 9px;
  left: 15px;
  right: 15px;
  text-align: center;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fading-outline {
  outline: black auto 2px;
  transition: outline 0.5s;
}
.fade-outline {
  outline: transparent auto 2px;
}
