|{ define "header" }|
<div class="header">
  <div class="header-content">
    <div class="header-label header-line1a">ROLL:</div>
    <input id="header-input" name="roll_request" type="text" class="roll-input header-line1b hover-underline" placeholder="1d20" />
    <a id="header-submit" class="header-link header-line1c hover-underline" href="/">◈Submit</a>
    <script>
      var input = document.getElementById("header-input");
      var submit = document.getElementById("header-submit");
      input.onkeyup = function() {
        if(input.value != "") {
          submit.href = "/roll/" + input.value;
        }
        else {
          submit.href = "/";
        }
      };
      input.onkeydown = function(e) {
          e = e || window.event;
          if(e.keyCode == 13 && input.value != "") {
              submit.click();
              return false;
          }
      };
    </script>
    <a class="header-line2a-above header-link hover-underline" href="/rolls/">◈History</a>
    <div class="header-line2a-below header-label">ROLLS</div>
    <a class="header-line2b-above header-link hover-underline" href="https://en.wikipedia.org/wiki/Dice_notation">◈Dice Notation</a>
    <div class="header-line2b-below header-label">WIKI</div>
    <a class="header-line2c-above header-link hover-underline" href="https://github.com/w8kerr/ddroller">◈Source</a>
    <div class="header-line2c-below header-label">GITHUB</div>
  </div>
</div>
|{ end }|
