<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/shared.css">
  </head>
  <body class="prevent-transitions">
    <div id="body" class="page">
      |< template "header" >|
      <div class="page-box">
        <p>Sequence ID: |< .SeqID >|</p>
        <ul>
          |< range $i, $roll := .Result.Rolls >|
          <li>Roll |< add $i 1 >|: |< $roll >|</li>
          |< end >|
        </ul>
        <p>Total: |< .Result.Total >|</p>
      </div>
    </div>
  <script>
    document.getElementById("body").classList.remove("prevent-transitions")
  </script>
  </body>
</html>
