<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/shared.css">
    <link rel="stylesheet" type="text/css" href="/static/layout-roll.css">
  </head>
  <body class="prevent-transitions">
    <div id="body" class="page">
      |< template "header" >|
      <div class="page-box page-layout">
        <div class="layout1">
          <div class="large-labeled flex-vertical-center">
            <div class="large-labeled-content">|< .Request.Text >|</div>
            <div class="large-labeled-label">REQUEST</div>
          </div>
        </div>
        <div class="layout2">
          <div class="gray-group">
            <div style="flex-basis: 50%;">
              <div class="featured-number">
                <div class="featured-number-number">|< .Request.Count >|</div>
                <div class="featured-number-label flex-vertical-center">NUMBER OF DICE</div>
              </div>
            </div>
            <div style="flex-basis: 50%;">
              <div class="featured-number">
                <div class="featured-number-number flex-vertical-center">
                  <div>|< .Request.Sides >|</div>
                </div>
                <div class="featured-number-label flex-vertical-center">
                  <div>SIDES OF DICE</div>
                </div>
              </div>
            </div>
            <div style="flex-basis: 50%;">
              <div class="featured-number">
                <div class="featured-number-number flex-vertical-center">
                  <div>|< .Request.Modifier >|</div>
                </div>
                <div class="featured-number-label flex-vertical-center">
                  <div>MODIFIER</div>
                </div>
              </div>
            </div>
            <div style="flex-basis: 50%;">
              <div class="featured-number">
                <div class="featured-number-number flex-vertical-center">
                  <div>|< .Request.Success | success >|</div>
                </div>
                <div class="featured-number-label flex-vertical-center">
                  <div>SUCCEED ON</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layout3">
          <div class="fancy flex-vertical-center">
            <div class="dice-pile">
            |< $sides := .Request.Sides >|
            |< $basis := (.Request.Count | dicebasis) >|
            |< range .Result.Rolls >|
              <div class="die-and-value" style="flex-basis: calc(|< $basis >|% - 16px);">
                <div class="die-value flex-vertical-center" style="background-image: url('/static/img/d|< $sides >|.svg')">
                  <div class="d|< $sides >|-adjust">|< . >|</div>
                </div>
              </div>
            |< end >|
            </div>
          </div>
        </div>
        <div class="layout4">
          <div class="ripped-center">
            <a class="ripped-center-above hover-underline" href="/rolled/|< .SeqID | slug >|">◈This Roll</a>
            <div class="ripped-center-line"></div>
            <div class="ripped-center-below">PERMANENT LINK</div>
          </div>
          <div class="ripped-center">
            <div class="ripped-center-above hover-underline">
              <input type="text" readonly="readonly" value="ddroller.tech/rolled/|< .SeqID | slug >|" id="copy-field" style="width: calc(100% - 13px); font-size: 19px;" />
            </div>
            <div class="ripped-center-line"></div>
            <div class="ripped-center-below">PERMANENT URL</div>
          </div>
        </div>
        <div class="layout5">
          <div class="result">
            <div class="result-content">|< .Result.Total >|</div>
            <div class="result-label">RESULT</div>
          </div>
        </div>
        <div class="layout6">
          <div class="ripped-center">
            <a class="ripped-center-above hover-underline" href="/roll/|< .Request.Text >|">◈|< .Request.Text >|</a>
            <div class="ripped-center-line"></div>
            <div class="ripped-center-below">ROLL AGAIN</div>
          </div>
          <div class="ripped-center">
            <a class="ripped-center-above hover-underline" href="https://www.amazon.com/s/ref=nb_sb_noss_1?field-keywords=polyhedral+dice+set">◈Buy Dice</a>
            <div class="ripped-center-line"></div>
            <div class="ripped-center-below">AMAZON</div>
          </div>
        </div>
      </div>
    </div>
  <script>
    document.getElementById("body").classList.remove("prevent-transitions");
    var copy_field = document.getElementById("copy-field");
    copy_field.onclick = function() {
      //Copy text to clipboard
      copy_field.select();
      document.execCommand("Copy");

      //Make an outline that fades
      copy_field.classList.add("fading-outline");
      setTimeout(function() {
        copy_field.classList.add("fade-outline");
      }, 1)
      setTimeout(function() {
        copy_field.classList.remove("fading-outline", "fade-outline");
      }, 500)
    }
  </script>
  </body>
</html>
